
.dropdown-ctnr {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.dropdown-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background: transparent;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    padding: 0.5rem;
    color: #482697;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}

.chevron {
    position: absolute;
    right: 1rem;
}

.chevron.down {
    animation: rotateDown 0.4s forwards;
}

.chevron.up {
    animation: rotateUp 0.4s forwards;
}

@keyframes rotateDown {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateUp {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0);
    }
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    list-style: none;
}

.dropdown-list.close {
    max-height: 0;
    overflow: hidden;
    border: none;
    transition: max-height 0.5s ease-out;
}

.dropdown-list.open {
    max-height: 300px;
    transition: max-height 0.5s ease-out;
}

.dropdown-element {
    width: 100%;
    padding: 0.2rem 0 0.2rem 0;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
    color: #482697;
    font-size: 0.9rem;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    cursor: pointer;
}
